*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}
                           /* NavBar: */
.navBarContent {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
}

.navBar{
  width: 15vw;
  height: 100vh;
  align-items: center;
  justify-content: space-around;
  /* text-align: center; */
}

.navBar > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style-type: none;
}

.navBar > li {
  display: flex;
  flex: 1;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
}

.navBar > li > a {
  align-self: center;
  text-decoration: none;
  color: green;
}

.navBar > li a:hover {
  color: black;
  text-shadow: 1px 2px 2px grey;
  /* background-color: grey; */
}

.navBar > li img {
  flex: 1;
  width: 100%;
  object-fit: contain;
  /* background-size: cover;  */
}
.navBar > li#imgLi {
  flex: 3;
}

.navBar > li#gifLi {
  flex: 3;
}
                             /* Main: */

.content {
  width: 85vw;
  height: 100vh;
  text-align: center;
  align-items: center;
}

header {
  height: 10vh;
  text-align: center;
  align-items: center;
  animation: breathing 5s ease-in-out infinite;
  font-size: 30px;
  letter-spacing: .1em
}

 @keyframes breathing {
  0% {
    text-shadow: 3px 2px white;
  }
  40% {
    text-shadow: 3px 2px black;
  }
  100% {
    text-shadow: 3px 2px white;
  }
}

.headerContent {
  display: flex;
  flex-direction: column;
}

.mainClass {
  background-image: url("./images/mainTropical.jpg");
  background-size: cover;
  height: 85vh;
  text-align: center;
}

.mainClass > h2 {
  color: white;
  text-align: center;
  align-self: center;
}

/* .mainClass > img {
  width: 80vw;
  position: relative;
}

.mainClass > h2 {
  z-index: 10;
  position: absolute;
} */

                         /* Locations: */
.AllLocations {
  display: flex;
  justify-content: space-around;
}

h2 {
  color: green;
}
