                     /* Fonts for the app: */
  /* font-family: 'Pacifico', cursive; */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.mediumHeader {
  color: white;
  font-size: 7vh;
  text-align: left;
  text-shadow: 2px 2px #01a3a4;
}
                           /* NavBar: */
.navBarContent {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
}

.navBar{
  width: 17vw;
  height: 100vh;
  align-items: center;
  justify-content: space-around;
  padding-left: 5px;
  /* text-align: center; */
}

.navBar > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style-type: none;
}

.navBar > li {
  display: flex;
  flex: 1;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  /* font-family: 'Pacifico', cursive; */
  /* display: block; */
}

.navBar > li > a {
  align-self: center;
  text-decoration: none;
  color: #009432;
  text-shadow: 1px 1px black;
  font-weight: bold;
}

.navBar > li a:hover {
  color: black;
  text-shadow: 1px 2px 2px grey;
  /* background-color: grey; */
}

.navBar > li img {
  flex: 1;
  width: 100%;
  object-fit: contain;
  /* background-size: cover;  */
}
.navBar > li#imgLi {
  flex: 3;
}

.navBar > li#gifLi {
  flex: 3;
}
                             /* Main: */

.content {
  width: 85vw;
  height: 100vh;
}

header {
  height: 12vh;
  text-align: center;
  font-family: 'Pacifico', cursive;
  animation: breathingOne 5s ease-in-out infinite;
  /* animation-delay: 3s; */
  font-size: 30px;
  letter-spacing: .1em;
}

header h1 {
  margin-top: -2vh;
  color: #01a3a4;
  animation: breathingOne 5s ease-in-out infinite;
}

 @keyframes breathingOne {
  0% {
    text-shadow: 3px 2px white;
  }
  40% {
    text-shadow: 3px 2px black;
  }
  100% {
    text-shadow: 3px 2px white;
  }
}

@keyframes breathingTwo {
 0% {
   text-shadow: 3px 2px white;
 }
 40% {
   text-shadow: 3px 2px black;
 }
 100% {
   text-shadow: 3px 2px white;
 }
}

.headerContent {
  display: flex;
  flex-direction: column;
}

.mainClass {
  background-image: url("./images/mainTropical.jpg");
  background-size: cover;
  height: 89vh;
  text-align: center;
}

.mainClass > ul {
  list-style-type: none;
}

.mainClass > ul> li > a {
  text-decoration: none;
}

.breathingLines {
  color: white;
  font-size: 8vh;
  /* text-align: center;
  align-self: center; */
}

#exercisesText {
  margin-left: 40vw;
  padding-top: 5vh;
  cursor: pointer;
  animation: breathingTwo 5s ease-in-out infinite;
  animation-delay: 3s;
}

#scheduleText {
  margin-left: -50vw;
  padding-top: 5vh;
  cursor: pointer;
  animation: breathingOne 5s ease-in-out infinite;
}

#aboutText {
  margin-left: 7vw;
  padding-top: 5vh;
  cursor: pointer;
  animation: breathingTwo 5s ease-in-out infinite;
  animation-delay: 3s;
}

#retreatsText {
  margin-left: -45vw;
  padding-top: 4vh;
  cursor: pointer;
  animation: breathingTwo 5s ease-in-out infinite;
  animation-delay: 3s;
}

#reviewsText {
  margin-left: 50vw;
  padding-top: 5vh;
  cursor: pointer;
  animation: breathingOne 5s ease-in-out infinite;
}

#profileText {
  margin-left: -5vw;
  padding-top: 3vh;
  cursor: pointer;
  animation: breathingOne 5s ease-in-out infinite;
}

/* .mainClass > img {
  width: 80vw;
  position: relative;
}

.mainClass > h2 {
  z-index: 10;
  position: absolute;
} */

                               /* About: */
.aboutTextContent {
  background-image: url("./images/mainTropical.jpg");
  background-size: cover;
  height: 90vh;
}

/* .AboutText {
  width: 80vw;
  height: 20vh;
  background-color: white;
  opacity: 0.9;
} */

.aboutText {
  background-color: white;
  opacity: 0.9;
  padding: 16px;
  font-weight: 400;
  font-size: 3vh;
  width: 70vw;
  margin: 0 auto;
}

.aboutText > ul {
  list-style-type: circle;
  list-style-position: inside;
  text-align: left;
}

.aboutText >ul > li {
  font-size: 22px;
  margin-bottom: 10px;
}

                              /* Exercises: */
.exercisesTextContent {
  background-image: url("./images/mainTropical.jpg");
  background-size: cover;
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.gifs {
  background-color: white;
  height: 80vh;
  width: 70vw;
  position: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  /* opacity: 0.8; */
}

.gifs > img {
  /* flex: 1; */
  z-index: 10;
  width: 35vw;
  height: 35vh;
}

                              /* Retreats: */
.retreatsTextContent {
  background-image: url("./images/mainTropical.jpg");
  background-size: cover;
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.retreatsTextContent > h3 {
  color: white;
}

                              /* Locations: */
.locationsReviews {
  background-image: url("./images/mainTropical.jpg");
  background-size: cover;
  height: 90vh;
}

.LocationsReviewsSubmit {
  display: flex;
  justify-content: space-around;
  background-color: white;
  opacity: 0.9;
  padding: 10px 0;
  font-weight: 400;
}

.ReviewsRendering {
  padding: 8px;
  font-size: 3vh;
  color: black;
  text-decoration-style: wavy;
  text-decoration-color: white;
  text-decoration-line: underline;
}

.LocationsRendering {
  background-color: #01a3a4;
  width: 38vw;
  overflow: scroll;
  font-size: 2.5vh;
}

.SubmitForms {
  display: flex;
  justify-content: space-around;
}

                                     /* Reviews: */
.smallHeaders {
  font-family: 'Pacifico', cursive;
  letter-spacing: 2px;
  color: white;
  text-shadow: 3px 3px black;

}
                                     /* Form: */
.submitBtnStyle {
  width: 8vw;
  height: 4vh;
  font-size: 2.5vh;
  opacuty: 0.7;
  border: solid 1px black;
  margin: 10px 0px;
  border-opacity: 0.7;
  border-radius: 20px;
}

.reviewTextArea {
  width: 25vw;
  height: 5vh;
  font-size: 2vh;
  font-weight: 400;
}

.editDeleteBtn {
  width: 5vw;
  height: 3vh;
  font-size: 2vh;
  border-radius: 12px;
  font-weight: 400;
  margin-left: 5px;
}

.editTextArea {
  width: 25vw;
  height: 5vh;
  font-size: 2vh;
  font-weight: 400;
}

/* .newFormStyle {
  width: 200px;
  height: 70px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-size: 20px;
  border-radius: 12px;
  margin-top: 10px;
  font-size: 25px;
} */

                    /* Animation for Main page */
/* .animation {
 position: absolute;
 right: 100px;
 margin-top: 20px;
 animation: appering 4s;
}

@keyframes appering {
 0%{
   right: -250px;
   transform: skew(0);
 }
 10% {
   right: 100px;
   transform: skew(0);
 }
 20% {
   transform: skew(20deg);
 }
 30% {
   transform: skew(-20deg);
 }
 40%{
   transform: skew(0);
 }
 50% {
   top: 20px;
 }
 60% {
   bottom: 20px;
 }
 70% {
   rotate: 180%;
 }
} */
